<div class="container-fluid" style="margin-top:5em;">
<div id="demo" class="carousel slide" data-ride="carousel" >
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="img/minisplits.png" alt="Los Angeles" width="75%" height="500"></center>
         
    </div>
    
  

    
   

      

     
     
      
      
     
    
    <div class="carousel-item">
      <center><img src="img/airevap.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img src="img/boilers.png" width="60%" height="500px"></center>
      
    </div>
    
   

    
    
    <div class="carousel-item">
      <center><img src="img/carpots.png" width="60%" height="500px"></center>
      
    </div>
    
    <div class="carousel-item">
      <center><img src="img/ccms.png" width="60%" height="500px"></center>
      
    </div>
    
   
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
